server {
    listen       $HTTP_PORT;
    server_name  localhost;
    location / {
		$BASIC_AUTH
		root   /usr/share/nginx/kafka-rest-ui/build/;
	}
	location /kafka-rest-ui {
		rewrite   ^/kafka-rest-ui/(.*)$  /$1  permanent;
	}
    location /admin/healthcheck {
        access_log off;
        return 200;
    }

    include /etc/nginx/conf.d/*.location;
}
